@import "../../atlas_core/web/_variables.scss";

//In Use badges
$background-color-in-use: #E1FAE1;
$border-color-in-use: #4FD84F;

$table-border-separator-color: #E7E7E9;


//custom size
$size-small: 32px;