.popupmenu--display-flex {
    &.popupmenu {
        display: flex;
    }
}

.popupmenu--full-width {
    ul { 
        width: 100%;

        .btn {
            width: 100%;
        }
    }
}

.popupmenu-custom-item-hover .widget-popupmenu-root .popupmenu-menu .popupmenu-custom-item {
    background-color: $bg-color-secondary;
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        border-color: $bg-color;
        background-color: $bg-color;
    }
}

.popupmenu-custom-item-container {
    padding: $spacing-small;
    margin-top: none;
    margin-bottom: none;
    align-items: right !important;

    .mx-link {
        display: block;
        padding: $spacing-smaller;
        color: $font-color-default;
        text-decoration: none;
        border: 1px solid transparent;

        &:hover {
            background-color: transparent;
        }
    }
}

.dropdown-hover {
    background-color: $bg-color-secondary;
    padding: 10px;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        border-color: $bg-color;
        background-color: $bg-color;
    }
}



.custom-widget-combobox-menu {
    .widget-combobox-menu {
        .widget-combobox-menu-footer {
            padding: unset;
        }
    }
    .combobox-footer-action {
        padding: 10px;
    }
}