/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/ai bot starter app.mpr.bak
/ai bot starter app.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/vendorlib/temp/
.DS_Store
