@use '../../../../theme/web/custom-variables' as *;
@use '../agent-builder-variables.scss' as *;

.link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $line-height-base;
    border-radius: $btn-border-radius;

    .btn-wrapper {
        margin-left: $spacing-small;
        min-width: 8em;
        display: flex;
        align-items: center;
        padding: $spacing-smaller 0;
        
    }

    .mx-text {
        margin: 0;
        line-height: $line-height-base;
    }

    .mx-button.btn {
        transition: all 0.2s ease-in-out;
        border: none;
        background-color: transparent;
        color: $font-color-default;
        padding: 0 0;
        height: $font-size-small;
        display: flex;
        align-items: center;

        &.btn-hover {
            visibility: hidden;
        }

    }

    transition: all 0.2s ease-in-out;

    &:hover {
        .btn.btn-hover {
            visibility: visible;
        }
    }
}

.list {
  display: grid;
  height: 48px;
  grid-template-columns: 25px minmax(0, 930px) auto auto;
  align-items: center;
  background-color: white;

  .hover-btn {
    display: flex;
    gap: $spacing-small;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.02s ease;
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    border-radius: 4px;
    border-color: #E7E7E9;
    background-color: #E7E7E9;

    .hover-btn {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
