@use '../../../../theme/web/custom-variables' as *;
@use '../agent-builder-variables.scss' as *;

.custom-control-label {
  display: block;
  overflow: hidden;
  margin-bottom: $spacing-smaller;
  text-align: left;
  text-overflow: ellipsis;
  color: $font-color-header;
  font-size: $form-label-size;
  font-weight: $form-label-weight;
}

.input-label-width {
  width: 11vw;
}

.input-label-grid {
  display: grid;
  grid-template-columns: 150px auto 50px;
}

.test-variable-width {
  width: 180px;
  margin-right: $spacing-small;
  padding-top: $spacing-small;
}

.text-line-clamp--1 {
    word-break: break-word;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-icon {
    margin: 0 0 0 $spacing-smaller;
    padding: 0;
    img {
        height: 16px;
        width: 16px;
    }
}

.icon-info-wrapper {
  display: flex;
  align-items: center;

  img {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.scroll-to-multiple-output {
    //only needed to use in JS-Action for scrolling to element
}

.scroll-to-single-output {
    //only needed to use in JS-Action for scrolling to element
}

.width-flex-full {
  display: flex;
  flex-grow: 1;
}

.overflow-visible {
  overflow: visible !important;
}
.overflow-auto {
  overflow: auto !important;
}

.space-between {
    display: flex !important;
    align-items: center !important;
    justify-items: center;
    justify-content: space-between;
}

.width--40-percent {
  width: 40%;
}

.display--inline {
  display: inline;
}

.mx-image-width-unset {
  .mx-image-viewer {
    width: unset;
  }
}

.spacing-inner-top-28 {
  padding-top: $size-28; 
}

//used to hide a combobox but validation message can still be shown
.combobox-hidden-with-validation {
  .widget-combobox .widget-combobox-input-container {
    display: none !important;
  }
}

.padding-right-4 {
  padding-right: 4px;
}

.w500{
  width: 500px;
}