/// Creates styling for the active tab
/// @info this creates the active state and hover to inactive buttons
/// @example @include mixins.create-active-tabs($element-root, $tabs-count: 20, $background-color: var(--grey-9), $color-before: white)
/// @param {Number} $tabs-count number of tabs
/// @param {Number} $color color for the text and border
/// @param {Number} $background-color color for the background
/// @tag tag-tab-list tag-focus tag-visited

/// stylelint-disable
// prettier-ignore
@mixin create-active-tabs($block, $tabs-count: 10, $color: null, $background-color: null, $color-before: null) {
  @for $i from 1 through $tabs-count {
    &#{$i}--active {
      > * > #{$block}:nth-of-type(#{$i}) {
        color: $color;
        background-color: $background-color;

        & [class*="pds-icon-"]::before {
          color: $color-before;
        }
      }
    }
  }
}
