/// Visually truncate text to a specified number of lines.
/// @param {Integer} $number-of-lines [1] Sets the default number of lines to clamp.
/// components including this mixin have `--line-clamp` custom property available for further customisation within the component or the style field in Studio Pro.
/// @example
/// .custom-component {
///   @include mixin.line-clamp(2);
///   &-3-lines {
///     --line-clamp:3;
///   }
/// }
/// -webkit-line-clamp is the defacto standard on all modern browsers https://caniuse.com/?search=line-clamp until max-lines property is supported.
/// @see also line-clamp mixin;
/// @tag tag-truncate @tag-max-lines @tag-clamp

@mixin line-clamp($number-of-lines: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp, #{$number-of-lines});
}
