/// Remove/reset styles on a Mendix ListView
/// adapted from pds-reset-listview
/// @param {Boolean} $flex will set display: flex and flex-wrap: true
/// @example @include mixins.listview-reset(true);
/// @tag tag-list-view tag-reset-listview tag-widget-rest tag-listview-widget

@mixin listview-reset($flex: false) {
  > ul {
    list-style: none;
    margin-bottom: 0; //Bootstrap override
    padding: 0;

    @if $flex {
      display: flex;
      flex-wrap: wrap;
    }

    > li {
      padding: 0;
      border-radius: 0;
      transition: none;
      border: 0;
      border-color: transparent;
      background: transparent;

      &:focus {
        outline: 0;
      }
    }
  }
}
