/// Ensures consistent styling for widgets with textual `<input>`, `<textarea>` and `<select>` elements which use bootstrap's `.form-control` class.
/// Use this mixin wherever you find class `.form-control` within custom styles for forms widgets.
/// @example scss
///  @use ".src/pds/mixins";
///
///  .mps-awesome-input {
///    .form-control {
///      @include mixins.make-form-control();
///    }
///  }
/// @tag tag-input tag-text-input tag-textarea tag-select

@use "../constants/forms";
@use "../constants/animation";

@mixin make-form-control() {
  font-size: forms.$input-font-size;
  display: block;
  background-color: forms.$input-color-background;
  border: forms.$input-border-width solid forms.$input-color-border;
  color: forms.$input-color-text;
  box-shadow: none;
  border-radius: forms.$input-border-radius;
  height: var(--form-control-height, #{forms.$input-height});
  padding: 0 var(--form-control-padding, #{forms.$input-padding});
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  outline: solid forms.$focus-border-width transparent;
  outline-offset: 0 - forms.$focus-border-width;
  transition: {
    property: outline-offset, outline-color, border, background-color, color;
    duration: animation.$duration-default;
    timing-function: animation.$timing-function-default;
  }

  &::placeholder {
    color: forms.$input-color-placeholder;
    opacity: 1; // Firefox
  }

  &::-ms-clear {
    display: none;
  }

  &:focus-visible:not(:active) {
    outline-color: forms.$color-focus;
  }

  &[disabled],
  &[readonly] {
    &,
    &:hover,
    &:active {
      cursor: not-allowed;
      border-color: forms.$input-color-border-readonly;
      background-color: forms.$input-color-background-readonly;
    }
  }
}
