/// Used to make an element a header text using Noto Sans.
/// @see pds/constants/font-size for the available options.
/// @see make-heading for creating headings.
/// @example @include mixins.make-text(16);
/// @tag tag-font-size tag-body tag-set-text tag-create-text tag-copy

@use "responsive-font-size" as mixin;
@use "../constants/font-weight";
@use "../constants/line-height";
@use "../constants/line-length";
@use "../functions";
@use "../constants/font-family";

@mixin make-text(
  $size: 16,
  $color: var(--text-body),
  $font-weight: font-weight.$default,
  $font-smoothing: false,
  $line-height: line-height.$regular,
  $margin-bottom: 0.75em,
  $max-width: null
) {
  color: $color;
  @include mixin.responsive-font-size($size);
  font-weight: $font-weight;
  line-height: $line-height;
  margin-top: 0;
  margin-bottom: $margin-bottom;
  @if ($max-width) {
    max-width: $max-width;
  }

  @if ($font-smoothing) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &--not-responsive {
    font-size: functions.font-size($size);
  }
}

@mixin make-text-12 {
  @include make-text(12);
}

@mixin make-text-14 {
  @include make-text(14, $max-width: line-length.$normal);
}

@mixin make-text-16 {
  @include make-text($max-width: line-length.$normal);
}

@mixin make-caption {
  @include make-text(12, var(--text-caption), $margin-bottom: 0.5em, $max-width: line-length.$normal);
}

@mixin make-mono {
  @include make-text(14, var(--text-body), $max-width: line-length.$normal);
  font-family: font-family.$mono;
}
