///
/// Common styles for pds modals.
/// @param $padding [layout.$padding-modal] Any valid css padding value, including CSS variable.
/// @see .pds-modal
/// @tag tag-popup tag-window tag-dialog

@use "../constants/layout";
@use "../constants/spacing";
@use "../constants/size";
@use "../constants/border-radius";
@use "../constants/border-width";
@use "../constants/font-size";
@use "../constants/button";
@use "make-heading" as *;
@use "make-button" as *;
@use "media-query" as *;

$_close-button-margin: spacing.$x12;

@mixin make-modal($padding: layout.$padding-modal) {
  // Some basic resets .modal-dialog is the top level class for all mendix modals/windows/popups
  padding: 0;
  margin: 0;
  position: fixed;
  left: auto;
  right: auto;
  width: size.$x560;

  .modal-content {
    // First element to receive styling
    // Modals have an elevation 16 but background color is "reset" to elevation 1.
    background-color: var(--background-elevation-4);
    box-shadow: var(--shadow-elevation-16);
    border: border-width.$default solid var(--border-default);
    border-radius: border-radius.$large;

    .modal-header {
      padding: $padding $padding 0;
      background-color: transparent;
      border-bottom: none;
      min-height: 0;

      h4 {
        @include make-heading($size: 24);
        margin-bottom: 0;
      }

      .close {
        @include make-icon-button($icon: "close");
        margin-right: calc($_close-button-margin - $padding);
        margin-top: calc($_close-button-margin - $padding);
        z-index: 1;
      }
    }

    .modal-body {
      padding: {
        top: spacing.$x8;
        bottom: $padding;
        left: $padding;
        right: $padding;
      }
      clear: both;

      > .mx-placeholder {
        display: contents; // Ignore placeholder to allow contents to be 100% height of modal.

        > :last-child {
          margin-bottom: 0;
        }
      }
    }

    .modal-footer {
      padding: 0 $padding $padding;
    }
  }
}
