/// Used to make an element a link.
/// @example @include mixins.make-link;
/// @tag tag-hyperlink tag-create-link tag-use-link tag-text-button

@use "../constants/animation";
@use "../constants/forms";
@use "../constants/border-radius";

@mixin make-link($standalone: false) {
  --icon-size: 1rem;
  //
  border-radius: border-radius.$small; // sets focus outline radius
  cursor: pointer;

  @if $standalone {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  } @else {
    text-decoration: underline;
  }

  &,
  &::before,
  &::after {
    transition: all animation.$duration-fast animation.$timing-function-default;
  }

  &,
  &:link,
  &:focus {
    color: if($standalone, var(--text-display), var(--text-link-default));
    outline: transparent solid 2px;
    outline-offset: 0;
  }

  &:visited {
    color: if($standalone, var(--text-display), var(--text-link-visited));
  }

  &:hover {
    color: var(--text-link-hover);
  }

  &:focus-visible {
    color: var(--text-link-focus);
    outline-color: forms.$color-focus;
    outline-offset: if($standalone, 2px, 1px);
  }

  &:active {
    color: var(--text-link-active);
  }

  &[aria-disabled="true"] {
    pointer-events: none;
    opacity: forms.$disabled-opacity;
  }
}
