/// Used to create a margin that automatically linearly halves for the smallest devices.
/// Not for use outside of generating margins.
/// @tag tag-margin tag-gutter tag-spacing tag-space tag-void tag-moving-elements

@use "sass:math";
@use "sass:map";
@use "sass:meta";
@use "../constants/media-query";
@use "../constants/spacing";
@use "../functions";
@use "../mixins/poly-fluid-sizing" as *;

$_sizes: map.set(spacing.$map, "auto", auto);

@mixin margin-responsive($size, $direction: null) {
  $value: null;
  @if meta.type-of($size) == "number" and math.is-unitless($size) {
    // convert to a string for lookup
    $size: meta.inspect($size);
  }

  @if meta.type-of($size) == "string" {
    $value: map-get($_sizes, $size);
    @if not $value {
      @error "#{$size} is not valid. Use one of #{map.keys($_sizes)} instead.";
    }
  } @else {
    $value: functions.remify($size);
  }

  @if ($direction == vertical and $size != auto) {
    @include poly-fluid-sizing(
      margin-top,
      (
        media-query.$for-phone-only: math.div($value, 2),
        media-query.$for-tablet-landscape-up: $value
      )
    );
    @include poly-fluid-sizing(
      margin-bottom,
      (
        media-query.$for-phone-only: math.div($value, 2),
        media-query.$for-tablet-landscape-up: $value
      )
    );
  } @else if ($direction == horizontal) {
    @include poly-fluid-sizing(
      margin-left,
      (
        media-query.$for-phone-only: if($size == auto, auto, math.div($value, 2)),
        media-query.$for-tablet-landscape-up: $value
      )
    );
    @include poly-fluid-sizing(
      margin-right,
      (
        media-query.$for-phone-only: if($size == auto, auto, math.div($value, 2)),
        media-query.$for-tablet-landscape-up: $value
      )
    );
  } @else if ($direction == null and $size != auto) {
    @include poly-fluid-sizing(
      margin,
      (
        media-query.$for-phone-only: math.div($value, 2),
        media-query.$for-tablet-landscape-up: $value
      )
    );
  } @else if ($direction != null and $direction != vertical and $direction != horizontal) {
    @include poly-fluid-sizing(
      margin-#{$direction},
      (
        media-query.$for-phone-only: if($size == auto, auto, math.div($value, 2)),
        media-query.$for-tablet-landscape-up: $value
      )
    );
  }
}
