/// This mixin creates a responsive font-size where the smaller font-size are percentually
/// changed less then the big font sizes. In this case 72px is downsized to 48px and
/// 12px is downsized to 12px.
/// 0.88 is 1 - 12px; the minimum font-size we have in font-sizes.scss.
/// @example
/// .pds-example {
///   @include mixins.responsive-font-size(32);
/// }
/// @tag tag-responsive-text tag-modile-text tag-text-size

@use "sass:math";
@use "poly-fluid-sizing" as mixin;
@use "../constants/media-query";
@use "../functions";

$responsive-max-factor: 1.5;
$responsive-min-factor: 1;

@mixin responsive-font-size($responsive-max-font-size) {
  $responsive-min-font-size: min(max($responsive-min-factor, 0.88 + $responsive-max-font-size * 0.01), $responsive-max-factor);

  @include mixin.poly-fluid-sizing(
    font-size,
    (
      media-query.$for-phone-only: functions.px-to-rems(math.div($responsive-max-font-size, $responsive-min-font-size)),
      media-query.$for-tablet-landscape-up: functions.font-size($responsive-max-font-size)
    )
  );
}
