/// This acts as a quick way to add breaking all words correctly so they don't overflow in small containers.
/// @example @include word-break.
/// @tag tag-overflow tag-stop-overflow tag-break-word tag-wrap-word tag-sentence-wrap tag-sentence-break

@mixin word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
