$chat-width: 800px !default;
$history-sidebar-width: 300px !default;
$send-btn-size: $form-input-font-size * 2 !default;
$chat-input-max-height: 120px !default;
$send-button-border-radius: 50% !default;