.listview-hover-on-background.mx-listview {
    >ul>li {
        &:hover {
            background: lighten($brand-primary, 10%);
            color: $gray-lighter;

            .glyphicon {
                color: $gray-lighter;
            }
        }

        &.selected,
        &.selected:hover,
        &.selected:active,
        &.selected:focus {
            background: $brand-gradient !important;
            color: $gray-lighter;

            .glyphicon {
                color: $gray-lighter;
            }
        }

    }
}

#mxapp {
    .mps-listview {
        &--chat-history {
            background: none;
            > ul {
                > li {
                    background: none;
                    padding: 0.125rem 0.5rem;
                    margin: $spacing-small 0;
                    border: none;
                    border-radius: 0.25rem;
                    &:first-child {
                        //add chat  button
                        padding: 0;
                    }
                    &:hover {
                        background-color: var(--grey-3);
                    }
                    &.selected {
                        background-color: var(--grey-4);
                    }
                }
            }
        }
    }
    .listview-hide-on-empty.mx-listview {
        > ul > li.mx-listview-empty::before {
            content: none;
        }
    }
}