@import '../../../../theme/web/custom-variables';

.model-badge {
  display: inline-flex;
  height: 20px;
  padding: 4px;
  gap: 4px;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  font-style: normal;
}

.model-badge--default {
  @extend .model-badge;
  background: $color-default-lighter;
  border: 1px solid $color-default-dark;
}

.model-badge--primary {
  @extend .model-badge;
  background: $color-primary-lighter;
  border: 1px solid $color-primary-dark;
}