@use '../../../../theme/web/custom-variables' as *;

.text-heading-4 {
    font-weight: var(--font-weight-bold, $font-weight-bold);
    font-size: var(--font-size-h4, $font-size-h4);
}

.visibility-none {
    visibility: hidden !important;
}

.line-clamp--1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}