@use "sass:map";
@use "sass:meta";
@use "configuration-default";

// The PDS team decides the default configuration here.
// Currently only Atlas exclusion variables. List needs to be kept in sync with Atlas.
// They can be overwritten using mps/main.
$_configuration: meta.module-variables("configuration-default");

@mixin configure($configuration-override: ()) {
  $_configuration: map.deep-merge($_configuration, $configuration-override) !global;
}

// Returns configuration map or value if end of map tree
@function get-configuration($keys...) {
  $map: $_configuration;
  @each $key in $keys {
    $map: map.get($map, $key);
  }
  @return $map;
}

// Only needs updating when Atlas has new files.
@mixin load-css {
  @each $key, $value in get-configuration("include-base") {
    @if $value == true {
      @include meta.load-css("foundation/base/#{$key}");
    }
  }

  @each $key, $value in get-configuration("include-widget") {
    @if $value == true {
      @include meta.load-css("foundation/widgets/#{$key}");
    }
  }
}
