@import '../../atlas_core/web/variables';

$sidebar-gradient-primary: #131313;
$sidebar-gradient-secondary:#3C3C3C;
$sidebar-gradient: linear-gradient(64deg, $sidebar-gradient-primary, $sidebar-gradient-secondary);
$sidebar-gradient-vertical: linear-gradient(0deg, $sidebar-gradient-primary, $sidebar-gradient-secondary);

$brand-gradient-primary: $brand-primary;
$brand-gradient-secondary: lighten($brand-primary, 5%);
$brand-gradient: linear-gradient(135deg, $brand-gradient-primary, $brand-gradient-secondary);
$brand-gradient-dark: linear-gradient(135deg, darken($brand-gradient-primary, 10%), darken($brand-gradient-secondary, 10));