// Offloads exclusion variables to via platformdesignsystem to the mendixprojectstyling module
// Make all changes in your app in the `themesource/mendixprojectstyling folder
@import "../../themesource/platformdesignsystem/web/exclusion-variables";
