/// Convert px values to rems.
/// This is used as a shorthand for when you don't want to calculate the actual value in rems.
/// Pixels are not used in PDS because they don't always scale well when a user changes the browser's default font-size.
/// @param {Number} $value (required) the px value, either expressed as unitless or with px units.
/// @returns equivalent value in rem
/// @example width: px-to-rems(320px); // returns 20rem
/// @tag tag-pixels-to-rems tag-calculate-pixel tag-rems tag-size tag-transform-pixels tag-use-rems

@use "sass:math";

@function px-to-rems($value) {
  $result: 0;

  @if (unitless($value)) {
    $result: math.div($value, 16);
  } @else if (unit($value) == "px") {
    $result: math.div($value, 16px); // unitless
  } @else {
    @error "Value must be provided in px or unitless.";
  }

  @return $result * 1rem; // adds the correct unit
}
