// value-based durations
$duration-fast: 0.2s;
$duration-medium: 0.3s;
$duration-slow: 0.5s;

// default duration
$duration-default: $duration-medium;

// default timing function
$timing-function-default: ease-out;

// animations
$slide-up: $duration-default $timing-function-default slide-up;
$fade-in: $duration-fast $timing-function-default fade-in;
$spin: spin 0.7s cubic-bezier(0.5, 0.4, 0.6, 0.8) 0s infinite normal none;
