/// PDS Colors
/// @info if you create a new color variable, you need to add it to the default and dark theme
/// @todo colors need to be choosen and updated (getting there)
/// @todo create with js something to show RGB colors
/// @example .pds-color-white
/// @tag tag-color tag-colors tag-dark-theme tag-light-theme tag-default-theme tag-theme
/// @deprecated use pds/base/generated/custom-properties instead.

$midnight: #0a1325;

$default: (
  "Violet-1": #f9ebfe,
  "Violet-2": #f2d7fe,
  "Violet-3": #eabcfc,
  "Violet-4": #e3a3fa,
  "Violet-5": #dd8bf7,
  "Violet-6": #d773f3,
  "Violet-7": #d25bee,
  "Violet-8": #cd45e9,
  "Violet-9": #be3dd7,
  "Violet-10": #af36c4,
  "Violet-11": #9f2fb1,
  "Violet-12": #8e289d,
  "Violet-13": #7e228a,
  "Violet-14": #6c1c75,
  "Coral-1": #ffeef0,
  "Coral-2": #ffdce1,
  "Coral-3": #ffc6cd,
  "Coral-4": #ffb0b8,
  "Coral-5": #ff9ca2,
  "Coral-6": #ff878d,
  "Coral-7": #ff7477,
  "Coral-8": #ff6161,
  "Coral-9": #f14f56,
  "Coral-10": #e33f4e,
  "Coral-11": #d53047,
  "Coral-12": #c72343,
  "Coral-13": #b9173f,
  "Coral-14": #ab0c3e,
  "Yellow-1": #fff9e6,
  "Yellow-2": #fff3cc,
  "Yellow-3": #ffedaa,
  "Yellow-4": #ffe78f,
  "Yellow-5": #ffe178,
  "Yellow-6": #ffda65,
  "Yellow-7": #ffd355,
  "Yellow-8": #faca4a,
  "Yellow-9": #f9c03a,
  "Yellow-10": #f2b42a,
  "Yellow-11": #eca51c,
  "Yellow-12": #e6930e,
  "Yellow-13": #df8001,
  "Yellow-14": #d96a00,
  "Green-1": #f1fcf1,
  "Green-2": #e3f9e3,
  "Green-3": #d0f5d0,
  "Green-4": #bef1be,
  "Green-5": #acecac,
  "Green-6": #9ae79a,
  "Green-7": #88e288,
  "Green-8": #77dd77,
  "Green-9": #66d467,
  "Green-10": #57ca57,
  "Green-11": #49bf4a,
  "Green-12": #3cb33d,
  "Green-13": #309f31,
  "Green-14": #258c27,
  "Blue-1": #ecf9ff,
  "Blue-2": #d9f3ff,
  "Blue-3": #b5e8ff,
  "Blue-4": #92dcff,
  "Blue-5": #70d0ff,
  "Blue-6": #4ec4fe,
  "Blue-7": #2dbafc,
  "Blue-8": #0cabf9,
  "Blue-9": #0098ec,
  "Blue-10": #0086d9,
  "Blue-11": #0072c6,
  "Blue-12": #005db3,
  "Blue-13": #00479f,
  "Blue-14": #00338c,
  "Indigo-1": #f1f3ff,
  "Indigo-2": #e3e7ff,
  "Indigo-3": #caceff,
  "Indigo-4": #b1b4ff,
  "Indigo-5": #9998ff,
  "Indigo-6": #8680ff,
  "Indigo-7": #7568ff,
  "Indigo-8": #6750ff,
  "Indigo-9": #5b47ec,
  "Indigo-10": #4f3eda,
  "Indigo-11": #4436c7,
  "Indigo-12": #392eb4,
  "Indigo-13": #2f27a2,
  "Indigo-14": #26218f,
  "Ultramarine-1": #f3f5ff,
  "Ultramarine-2": #e6eaff,
  "Ultramarine-3": #bfcaff,
  "Ultramarine-4": #99a9ff,
  "Ultramarine-5": #7388ff,
  "Ultramarine-6": #4d68f5,
  "Ultramarine-7": #264ae5,
  "Ultramarine-8": #0d2ed1,
  "Ultramarine-9": #0b25bd,
  "Ultramarine-10": #081ca9,
  "Ultramarine-11": #061595,
  "Ultramarine-12": #050f81,
  "Ultramarine-13": #03096c,
  "Ultramarine-14": #020557,
  "Midnight": $midnight,
  "White": white,
  "Black": black,
  "Transparent": transparent
);

$pure: (
  "Violet": map-get($default, "Violet-8"),
  "Coral": map-get($default, "Coral-9"),
  "Yellow": map-get($default, "Yellow-9"),
  "Green": map-get($default, "Green-9"),
  "Blue": map-get($default, "Blue-9"),
  "Indigo": map-get($default, "Indigo-8"),
  "Ultramarine": map-get($default, "Ultramarine-8"),
  "Midnight": map-get($default, "Midnight"),
  "White": map-get($default, "White"),
  "Black": map-get($default, "Black")
);

$greytone: (
  Midnight-3: mix($midnight, white, 3%),
  Midnight-5: mix($midnight, white, 5%),
  Midnight-10: mix($midnight, white, 10%),
  Midnight-15: mix($midnight, white, 15%),
  Midnight-20: mix($midnight, white, 20%),
  Midnight-25: mix($midnight, white, 25%),
  Midnight-30: mix($midnight, white, 30%),
  Midnight-35: mix($midnight, white, 35%),
  Midnight-40: mix($midnight, white, 40%),
  Midnight-45: mix($midnight, white, 45%),
  Midnight-50: mix($midnight, white, 50%),
  Midnight-55: mix($midnight, white, 55%),
  Midnight-60: mix($midnight, white, 60%),
  Midnight-65: mix($midnight, white, 65%),
  Midnight-70: mix($midnight, white, 70%),
  Midnight-75: mix($midnight, white, 75%),
  Midnight-80: mix($midnight, white, 80%),
  Midnight-85: mix($midnight, white, 85%),
  Midnight-90: mix($midnight, white, 90%),
  Midnight-95: mix($midnight, white, 95%),
  Midnight-97: mix($midnight, white, 97%)
);
