// Font families
/// @info Noto Sans, Patron, and System fonts are used in specific blocks.
/// @tag tag-font-family tag-font-family tag-typography tag-typeface tag-patron tag-mono tag-noto-sans

$noto-sans: "noto-sans", sans-serif;
$patron: "Patron", "noto-sans", sans-serif;
$mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-regular: $noto-sans;
$font-display: $patron;
