@forward "generated/font-size";
@use "generated/font-size";

// standard
$caption: font-size.$x12;
$body: font-size.$x14;
$body-lg: font-size.$x16;
$mono: font-size.$x14;

// headings
$pre-heading: font-size.$x18;
$h6: font-size.$x14;
$h5: font-size.$x16;
$h4: font-size.$x18;
$h3: font-size.$x20;
$h2: font-size.$x24;
$h1: font-size.$x32;

// display
$display-sm: font-size.$x24;
$display-md: font-size.$x32;
$display-lg: font-size.$x40;
$display-xl: font-size.$x56;

$font-sizes: (
  56: font-size.$x56,
  40: font-size.$x40,
  32: font-size.$x32,
  28: font-size.$x28,
  24: font-size.$x24,
  22: font-size.$x22,
  20: font-size.$x20,
  18: font-size.$x18,
  16: font-size.$x16,
  14: font-size.$x14,
  12: font-size.$x12,
);
