/// Variables related to forms and form inputs.

@use "../constants/font-weight";
@use "../constants/border-radius";
@use "../constants/border-width";
@use "../constants/line-height";
@use "../constants/spacing";
@use "../constants/font-size";
@use "../constants/size";
@use "../functions";

// General
$disabled-opacity: 0.4;
$focus-border-width: border-width.$x2;
$color-text: var(--text-body); // For descriptive text within forms, not inputs or labels.
$color-text-error: var(--text-error);
$color-focus: var(--border-focus);
$color-border-error: var(--border-input-error);

// checkboxes/radio buttons = selectors
$color-background-selector: var(--background-selector-unselected);
$color-background-selector-selected: var(--background-selector-selected);
$color-border-selector: var(--border-input-default);
$color-border-selector-active: var(--border-selector-active);
$color-border-selector-hover: var(--border-selector-hover);
$color-border-selector-selected: var(---border-selector-selected);
$color-checkmark: var(--grey-0);

// Inputs / Form controls
$input-height: size.$x40;
$input-height-small: size.$x32;
$input-color-text: var(--text-body);
$input-color-placeholder: var(--text-placeholder);
$input-color-background: var(--background-input-default);
$input-color-background-readonly: var(--background-input-read-only);
$input-color-border: var(--border-input-default);
$input-color-border-readonly: transparent;
$input-color-icon-indicator: var(--icon-input-indicator);
$input-color-icon-action: var(--icon-input-action);
$input-color-icon-action-hover: var(--icon-input-action-hover);
$input-search-icon-size: size.$x20;
$input-dropdown-icon-size: size.$x16;
$input-font-size: font-size.$x14;
$input-margin-bottom: spacing.$md;
$input-border-radius: border-radius.$regular;
$input-border-width: border-width.$thin;
$input-padding: spacing.$x12;
$input-padding-sm: spacing.$x8;

// Input Labels
$label-color: var(--text-label);
$label-font-size: font-size.$x14;
$label-font-weight: font-weight.$thick;
$label-margin: spacing.$sm;
$label-line-height: line-height.$compact;
