/// @info if you add new icon please modify the version here, so we can keep track
/// version: 3.1
/// If you are need of new icons, speak first to team #PlatformDesignSystem.
/// Or if you have access to Icomoon follow this doc: https://paper.dropbox.com/doc/How-to-add-Icons-to-PDS--BTmkH1djCcCJNWBJQdqggvh5Ag-Rag7GuW2OJAhAojIhRstG
/// When adding new entries to this list, uncomment the line at the bottom of file // @include _check-for-duplicates(); To make sure nothing's gone wrong.

@use "sass:map";
@use "sass:list";

// Icons from Streamline only
$pds-icons-streamline: (
  "add-circle": "2295",
  "add": "271a",
  "alarm-bell-off": "e920",
  "alarm-bell": "e921",
  "alert-circle": "21",
  "alert-triangle": "25b3",
  "analytics-graph-bar": "e90b",
  "app-window-search-1": "2636",
  "archive-folder": "e90a",
  "arrow-button-left-1": "2b45",
  "arrow-button-right-1": "2b46",
  "arrow-down-1": "25bf",
  "arrow-down-1-bold": "25be",
  "arrow-left": "2b05",
  "arrow-left-1": "25c1",
  "arrow-left-1-bold": "25c0",
  "arrow-right": "2b91",
  "arrow-right-1": "25b9",
  "arrow-right-1-bold": "25b8",
  "arrow-thick-up-fill": "e935",
  "arrow-thick-up": "e938",
  "arrow-up-1": "e933",
  "arrow-up-1-bold": "25b4",
  "attachment": "22d2",
  "bin-1": "2349",
  "book-open": "e990",
  "bookmarks-1-fill": "25b0",
  "bookmarks-1": "25b1",
  "button-refresh-arrows": "27f3",
  "calendar": "25a6",
  "cash-payment-bill-1": "e91c",
  "cash-payment-bill-3": "e91d",
  "cash-payment-bill-4": "e91e",
  "ceiling-ball-chandelier-retro": "e903",
  "charger": "2362",
  "check-circle-1": "2714",
  "check-circle-2": "2611",
  "close": "2715",
  "cloud-check": "e919",
  "cloud-data-transfer": "e918",
  "cloud-disable": "e917",
  "cloud-download": "e916",
  "cloud-lock": "e915",
  "cloud-off": "e914",
  "cloud-refresh": "e913",
  "cloud-remove": "e912",
  "cloud-search": "e911",
  "cloud-settings": "e910",
  "cloud-subtract": "e90f",
  "cloud-sync": "e90e",
  "cloud-upload": "2601",
  "cloud": "e90c",
  "cog": "2699",
  "color-painting-palette": "273f",
  "compass-directions": "2708",
  "computer-chip": "e946",
  "content-paper-edit": "270d",
  "data-transfer": "2b04",
  "delete-1": "2297",
  "diamond": "25c7",
  "direction-button-3": "261f",
  "dislike": "e991",
  "download-bottom": "2356",
  "download-button": "e92a",
  "download-circle": "e92b",
  "e-learning-monitor": "2710",
  "expand-6": "238b",
  "filter-1": "23da",
  "floppy-disk": "2713",
  "folder-empty": "238c",
  "folder": "e99d",
  "font-size": "1d400",
  "github": "2389",
  "hammer-wench": "270f",
  "hard-drive": "e945",
  "hierarchy-files": "2255",
  "house-entrance": "2302",
  "hyperlink": "260d",
  "id": "26ac",
  "information-circle": "24d8",
  "key-lock": "e907",
  "keyboard-arrow-left": "27f5",
  "keyboard-arrow-right": "27f6",
  "lantern-1": "e904",
  "layers-front": "e93a",
  "layout-agenda": "25a4",
  "layout-bullets": "2637",
  "layout-column": "25a5",
  "layout-corners-dashboard": "2237",
  "layout-module-1": "25eb",
  "legal-certificate": "272f",
  "light-bulb-shine": "263c",
  "like": "e992",
  "lock-1": "2300",
  "lock-locked": "e908",
  "lock-unlock": "2283",
  "login-1": "e92e",
  "login-2": "e92f",
  "login-3": "e930",
  "logout-1": "e931",
  "logout-2": "e932",
  "maps-pin": "25a9",
  "match-fire-1": "e906",
  "meeting-headphones-1": "e943",
  "menu-horizontal-thin": "268b",
  "messages-bubble-add": "e926",
  "messages-bubble-check": "e927",
  "messages-bubble-disable": "e928",
  "messages-bubble-edit": "e929",
  "messages-bubble-forum": "e98d",
  "messages-bubble-information": "b0",
  "messages-bubble-quotation": "e924",
  "messages-bubble-remove": "e925",
  "messages-bubble-square-fill": "e936",
  "messages-bubble-square": "e937",
  "messages-bubble-typing-1": "e923",
  "messages-bubble": "e922",
  "module": "25a1",
  "monitor-camera": "25d9",
  "monitor-cash": "2740",
  "move-left-1": "2345",
  "move-right-1": "2346",
  "multiple-circle": "e91a",
  "multiple-man-woman-2": "26a5",
  "multiple-neutral-2": "e99c",
  "multiple-users-1": "e91b",
  "navigation-menu": "e93b",
  "navigation-menu-horizontal": "25ac",
  "navigation-next": "27a5",
  "notes-checklist-flip": "2254",
  "notes-paper-text": "2631",
  "office-file-sheet": "2338",
  "office-lamp": "e900",
  "password-lock-1": "2731",
  "pencil": "270e",
  "phone": "260f",
  "picture-landscape": "22a0",
  "pin-fill": "e941",
  "pin": "e942",
  "question-circle": "3f",
  "rating-star-1": "2606",
  "rating-star": "2605",
  "read-email-circle": "2709",
  "remove-circle": "2716",
  "remove": "2613",
  "rss-feed": "e934",
  "search": "25ce",
  "settings-slider": "e944",
  "share": "2239",
  "shipment-box": "2350",
  "shopping-cart-1": "e99b",
  "shopping-cart-full": "233a",
  "sign-badge-circle": "25fb",
  "signal-full": "25e2",
  "single-neutral-shield": "2697",
  "single-woman-actions-refresh": "267d",
  "smiley-sad-crying-1": "2639",
  "stopwatch": "23f1",
  "street-light": "e902",
  "subtract-circle": "2296",
  "synchronize-arrow-clock": "27f2",
  "table-lamp-2": "e905",
  "table-lamp-colorful": "e901",
  "task-checklist": "2633",
  "task-list-multiple": "e909",
  "time-clock-circle": "25f7",
  "toys-lego": "e91f",
  "upload-bottom": "2909",
  "upload-button": "e92c",
  "upload-circle": "e92d",
  "view-1-fill": "e939",
  "view-1": "233e",
  "view-off": "e940",
  "wild-bird-1": "262f",
);

// Extra icons
$pds-icons-custom: (
  "mendix-learn": "e947",
);

$pds-icons: map.merge($pds-icons-streamline, $pds-icons-custom);
