/// Line length
/// @info line length variables
/// @info line-length-normal is the default
/// @see pds/utilities/line-length
/// @tag tag-line-length tag-line-length-narrow tag-line-length-normal tag-line-length-wide

$narrow: 45ch;
$normal: 68ch; // Default line length
$wide: 75ch;
