@import "custom-variables";

//fix for atlas topbar submenu item font size 
.layout-atlas .region-topbar .navbar-brand .mx-navbar-subitem a{
    font-size: unset;
}

//Remove paging bar on Gallery
.gallery-hide-paging{
    .widget-gallery-footer{
        display: none;
    }
}

//Cards for InitialUserPrompts
.card-initialuserprompt.card {
    margin-bottom: $spacing-small;
    padding: $spacing-small;
    border: 1px solid $brand-default;
    height: 100px;
    position: relative;
    &:hover {
        background-color: $grid-bg-hover
    }
}

//Adding margin of 20 percent to the top
.margin-top--20percent{
    margin-top: 20%;
}